---
layout: default
title: "Tchandra massage - Contact"
css:  [/css/links.css, /css/contact.css]
section: contact
section_title: Contact
links: []
---
<article class="main clearfix">
    <h1 class="header" >{% include section_title.html %}</h1>
    <iframe width="320" height="426" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=10+Rue+de+Bretagne,+75003+Paris&amp;aq=0&amp;oq=10+Rue+de+Bretagne,+Paris+75&amp;sll=-15.705042,-49.365315&amp;sspn=11.847449,21.643066&amp;ie=UTF8&amp;hq=&amp;hnear=10+Rue+de+Bretagne,+75003+Paris,+%C3%8Ele-de-France&amp;t=m&amp;z=14&amp;ll=48.862306,2.363726&amp;output=embed"></iframe>
    <div>
        <p>Massage et soins sur rendez-vous uniquement.</p>
        <p>Du lundi au vendredi de 10h à 19h30 et le dimanche de 13h à 19h.</p>
        <address>
            Contactez <span class="colored">Laure</span><br />
            Tel: <span class="colored">06.84.03.29.08</span><br />
            Mail: <span class="colored">lauremassage@gmail.com</span><br />
            Adresse: <span class="colored">10 rue de Bretagne 75003 Paris</span><br />
            Métro: <span class="colored">Filles du calvaire - ligne 8</span><br />
            Bus: <span class="colored">Bretagne - ligne 96</span><br />
        </address>
    </div>
</article>
{% include links.html %}
{% include articles.html %}