---
layout: default
title: Tchandra massage
js: [js/index.js]
css:  [css/index.css, css/list.css, css/links.css]
slug: index
links:
  - deep_tissue
  - cadeaux
  - minceur
  - charte
---
<section id="slider">
    <ul id="slides">
        <li>
            <article id="slide-tchandra" >
                <a href="{{ site.baseurl }}tchandra.html"><img whidth="928px" height="501px" src="img/home/tchandra.jpg"></a>
                <hgroup>
                    <h1><a href="{{ site.baseurl }}tchandra.html">Découvrez&nbsp;Tchandra</a></h1>
                    <h2><a href="{{ site.baseurl }}tchandra.html">Au&nbsp;voyage&nbsp;du&nbsp;bien&nbsp;être...</a></h2>
                </hgroup>
            </article>
        </li>
        <li style="display:none;">
            <article id="slide-massage" >
                <a href="{{ site.baseurl }}massages.html"><img whidth="928px" height="501px" src="img/home/massage.jpg"></a>
                <hgroup>
                    <h1><a href="{{ site.baseurl }}massages.html">Envie&nbsp;de&nbsp;l&acirc;cher&nbsp;prise&nbsp;?</a></h1>
                    <h2><a href="{{ site.baseurl }}massages.html">Faites&nbsp;le&nbsp;tour&nbsp;du&nbsp;monde&nbsp;en&nbsp;massage</a></h2>
                </hgroup>
            </article>
        </li>
        <li style="display:none;">
            <article id="slide-beauty" >
                <a href="{{ site.baseurl }}beaute.html" ><img whidth="928px" height="501px" src="img/home/beauty.jpg"></a>
                <hgroup>
                    <h1><a href="{{ site.baseurl }}beaute.html" >Envie&nbsp;de&nbsp;s’offrir&nbsp;une&nbsp;beauté?</a></h1>
                    <h2><a href="{{ site.baseurl }}beaute.html" >Prendre&nbsp;soin&nbsp;de&nbsp;son&nbsp;corps,&nbsp;de&nbsp;sa&nbsp;peau</a></h2>
                </hgroup>
            </article>
        </li>
        <li style="display:none;">
            <article id="slide-office">
                <a href="{{ site.baseurl }}cabinet.html"><img whidth="928px" height="501px" src="img/home/office.jpg">
                <hgroup>
                    <h1><a href="{{ site.baseurl }}cabinet.html">S’évader&nbsp;en&nbsp;plein&nbsp;coeur&nbsp;de&nbsp;Paris</a></h1>
                    <h2><a href="{{ site.baseurl }}cabinet.html">Un&nbsp;espace&nbsp;pour&nbsp;votre&nbsp;bien-être&nbsp;dans&nbsp;le&nbsp;Marais</a></h2>
                </hgroup>
            </article>
        </li>
        <li  style="display:none;">
            <article id="slide-prices">
                <a href="{{ site.baseurl }}tarif.html"><img whidth="928px" height="501px" src="img/home/prices.jpg"></a>
                <hgroup>
                    <h1><a href="{{ site.baseurl }}tarif.html">S’offrir&nbsp;du&nbsp;temps&nbsp;pour&nbsp;soi,&nbsp;du&nbsp;bien-être</a></h1>
                    <h2><a href="{{ site.baseurl }}tarif.html">Et&nbsp;le&nbsp;partager,&nbsp;c’est&nbsp;possible&nbsp;!</a></h2>
                </hgroup>
            </article>
        </li>
        <li style="display:none;" >
            <article id="slide-contact" >
                <a href="{{ site.baseurl }}contact.html"><img whidth="928px" height="501px" src="img/home/contact.jpg"></a>
                <hgroup>
                    <h1><a href="{{ site.baseurl }}contact.html">Prendre&nbsp;rendez-vous</a></h1>
                    <h2><a href="{{ site.baseurl }}contact.html">Pour&nbsp;venir&nbsp;se&nbsp;faire&nbsp;du&nbsp;bien</a></h2>
                </hgroup>
            </article>
        </li>
    </ul>
    <nav id="nav-slider">
        <ul>
            <li >
                <h3><a href="{{ site.baseurl }}tchandra.html">Tchandra</a></h3>
            </li>
            <li >
                <h3><a href="{{ site.baseurl }}massages.html">Massages</a></h3>
            </li>
            <li >
                <h3><a href="{{ site.baseurl }}beaute.html">Beauté</a></h3>
            </li>
            <li >
                <h3><a href="{{ site.baseurl }}cabinet.html">Le&nbsp;cabinet</a></h3>
            </li>
            <li >
                <h3><a href="{{ site.baseurl }}tarif.html" >Tarif</a></h3>
            </li>
            <li >
                <h3><a href="{{ site.baseurl }}contact.html">Contact</a></h3>
            </li>
        </ul>
    </nav>
</section>
{% include links.html %}
{% include articles.html %}
