<section id="articles">
{% for slug in page.links %}
    {% for post in site.posts %}
        {% if post.slug == slug %}
    <article>
        <a href="{{ site.baseurl }}/{{ post.url }}">
            <img width="190px" height="190px" src="{{ site.baseurl }}{{ post.small_image }}">
        </a>
        <header>
            <h1>
                <a href="{{ site.baseurl }}/{{ post.url }}">{{ post.lead  }}</a>
            </h1>
        </header>
        <p><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.description }}</a></p>
            {% if post.time && post.price %}
        <p id="price">{{post.time}} / {{post.price}} &euro;</p>
            {% endif %}
        <div class="facebook-like" ></div>
     </article>
        {% endif %}
    {% endfor %}
{% endfor %}
</section>