<footer role="siteinfo">
    <div id="hcard-Laure-Espinat" class="vcard" style="text-align:center">
        <span class="org lcolored">Tchandra </span> <span class="category lcolored">Massages</span>  -
        <a class="url fn n lcolored" href="/contact.html"><span class="given-name"></span>
          <span class="additional-name">Laure</span>
          <span class="family-name">Espinat</span>
        </a> -
        <a class="email lcolored" href="mailto:lauremassage@gmail.com">lauremassage@gmail.com</a> -
        <div class="tel lcolored" style="display:inline">06.84.03.29.08</div> -
        <div class="adr lcolored" style="display:inline">
         <div class="street-address lcolored" style="display:inline">10 rue de Bretagne</div>
         <span class="postal-code">75003</span>
         <span class="locality">Paris</span>,
         <span class="country-name">France</span>
        </div>
    </div>
</footer>
{% for j in page.js %}
<script src="{{ j }}"></script>
{% endfor %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38986758-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
