<section class="links">
    <ul>
        <li>
            <a href="mailto:lauremassage@gmail.com?subject=M'inscrire à la newsletter&body=Bonjour,%0A Je souhaiterais m'inscrire à la newsletter de Tchandra massage.%0ACordialement,">Inscrivez vous à la newsletter pour être au courant des offres promotionnelles.</a>
        </li>
        <li>
            <a href="mailto:lauremassage@gmail.com?subject=Prise de rendez-vous&body=Bonjour,%0AJe souhaiterais prendre rendez-vous pour <Nom du soin ou massage>%0AJe suis disponible le <jour heure>%0AJe vous joins mes coordonnées <Coordonnées>%0ACordialement,">Prenez rendez-vous pour un massage. Reservez un moment de détente.</a>
        </li>
    </ul>
</section>
